version: '3.2'

services:

  redis:

    extends:
      file: ./docker/redis/docker-compose.yml
      service: redis
    networks:
      default:
        ipv4_address: 10.5.0.50


networks:
  default:
    external:
      name: api_network
