version: '3.2'

services:

  mongo:
    extends:
      file: ./docker/mongo/docker-compose.yml
      service: mongo
    networks:
      default:
        ipv4_address: 10.5.0.6

networks:
  default:
    external:
      name: api_network
